@media(min-width: $desktop) {
	.services {
		padding: 10rem 2rem;
	}
	.services .container {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}
}

.service {
	@include transition(all 1s);
	text-align: center;
	max-width: 500px;
	margin: 2rem auto;

	&.visible {
		opacity: 1;
		@include transform(translateY(0px));
	}

	&.invisible {
		opacity: 0;
		@include transform(translateY(50px));
	}

	@media(min-width: $desktop) {
		@include flex-basis(30%);
	}

}
