.projects {
	background-color: $white;
	background-image: url('../images/bg_raster.png');
  background-size: 100%;
  background-repeat: repeat-y;
}

.project-list {
  @include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-evenly);
	@media(min-width: 565px) {
		@include justify-content(center);
	}
}

.project {
	@include transition(all 0.3s ease-in);

	.inner {
		width: 100%;
		padding-top: 100%;
		position: relative;
	}

	.image {
		position: absolute;
		top: 8px;
		left: 8px;
		bottom: 8px;
		right: 8px;
    margin: 0 auto;
    @include transition(all 0.3s);

    img {
      width: 100%;
      height: auto;
    }

  }

	&:hover .image {
    background-color: $blue-dark;
    @include transform(scale(1.05));
  }

}

/* Animated blob images */
.project {
  .image {
    background-color: $blue;
    padding: 5px;
    @include animation(blob 30s ease-in-out infinite both alternate);
  }
  img {
    @include animation(blob 30s ease-in-out infinite both alternate);
  }
}

@for $i from 0 to 13 {
  .projects .project:nth-child(#{$i}) .image img {
    @include animation-delay(calc(-5s*#{$i}));
  }
  .projects .project:nth-child(#{$i}) .image {
    @include animation-delay(calc(-5s*#{$i}));
  }
}

@-moz-keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@-webkit-keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

// Filter buttons
.filter {
  padding-bottom: 0.5em;
	margin-bottom: 1em;
  font-family: $open-sans;
  font-display: auto;
  font-size: 1.2em;
  color: $black;
  text-align: center;
  border-bottom: 1px dashed $gray;
}
.filter button {
  margin: 0 0.5em;
  border: 0;
  background-color: transparent;
  font-family: $din-2014;
  font-display: auto;
  font-size: 0.9em;
  cursor: pointer;
  @include transition(all 0.3s);
	position: relative;
	padding-left: 0.6em;
	padding-right: 0.6em;
  &.active,
  &:hover {
    color: $blue-dark;
  }
	&.active {
		padding-left: 1.2em;
		padding-right: 0;
		&:before {
			content: "\2713";
			font-size: 1.8em;
			position: absolute;
			left: 0;
			bottom: -6px;
		}
	}
}

// Animation when filtering list
.project-list {
	.project {
		overflow: hidden;
		@include transition(all 300ms);
		@include flex-basis(50%);
		@media(min-width: $mobile) {
			@include flex-basis(33.33%);
		}
		@media(min-width: $tablet) {
			//@include flex-basis(25%);
			@include flex-basis(20%);
		}
		@media(min-width: $desktop) {
			@include flex-basis(20%);
		}
		/*@media(max-height: 700px) {
			@media(orientation: landscape) {
				@include flex-basis(16.66%);
			}
		}*/
	}
	.project.filtering-true {
		opacity: 0;
		@include transform(scale(0.1));
	}
	.project.filtering-false {
		opacity: 1;
		@include transform(scale(1));
	}

}

// Animation  when project gets visible by scrolling
.animate-projects-true .project.invisible {
  opacity: 0;
	@include transform(scale(0.5));
}
.animate-projects-true .project.visible {
  opacity: 1;
	@include transform(scale(1));
}
.animate-projects-true .project {
	@include transition(all 0.3s);
	&.newcomersyouth,
	&.everything,
	&.nagotharhant {
		@include transition(all 0.8s);
	}
	&.mensvarkstestet,
	&.pablodigtallvar,
	&.lesbiskmakt {
		@include transition(all 0.5s);
	}
}

// Break titles with many words
.projectPage.newcomersyouth h1,
.projectPage.filmregionsydost h1,
.projectPage.nagotharhant h1,
.projectPage.pablodigtallvar h1 {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $tablet) {
    max-width: 500px;
  }
}
.projectPage.fridhadvokatbyra h1 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $tablet) {
    max-width: 500px;
  }
}

// ProjectPage
.projectPage {
  overflow: hidden;
	background-color: $white;
  .container {
    overflow: visible;
    max-width: 780px;
    padding: 4rem 1rem 1rem 1rem;
    @media(min-width: $desktop) {
      padding: 6rem 2rem 2rem 2rem;
    }
  }
  .page-header {
    text-align: center;
  }
  .description {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2;
    @media(min-width: $tablet) {
      font-size: 1.8rem;
    }
    font-family: $din-2014;
    font-display: auto;
  }
  .featuredImage {
    left: 50%;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    margin: 2rem -50vw;
    @include transform(rotate(-1deg));
    border-top: 10px solid $blue;
    border-bottom: 10px solid $blue;

    @media(min-width: $tablet) {
      margin: 3rem -50vw 4rem;
    }

    @media(min-width: $desktop) {
      @include transform(none);
      border: 1px solid $gray;
      width: calc(100% + 10rem);
      margin: 3rem -5rem 5rem -5rem;
      left: 0;
      right: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  h2 {
    font-family: $open-sans;
    text-transform: none;
    text-align: left;
    font-size: 1.2rem;
    margin: 3rem 0 -0.8rem;
  }
}

.stats {
  margin-top: 3rem;
  > p {
    margin: 0 0 1em 0;
  }
  > p > span {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    font-family: $din-2014;
    font-display: auto;
  }
  a {
    color: $black;
    border-bottom: 1px solid $black;
    text-decoration: none;
    @include transition(all 0.3s);
    &:hover, &:active, &:focus {
      color: $blue-dark;
      border-bottom: 1px solid $blue-dark;
      text-decoration: none;
    }
  }
}

.navigation {
  margin-top: 4em;
  @media(min-width: $tablet) {
    margin-top: 6em;
  }
  .project {
    border: 0;
		max-width: 200px;
		margin: 0 auto;
		display: block;
  }
}

// Animation description, title and featured image
.project-title,
.description {
  @include transition(transform 1000ms ease-in);
}
.fade-enter .project-title,
.fade-enter .description {
  @include transform(scale(0.8));
}
.fade-enter-active .project-title,
.fade-enter-active .description {
  @include transform(scale(1));
}
