.projects {
	background-color: $white;
	background-image: url('../images/bg_raster.png');
  background-size: 100%;
  background-repeat: repeat-y;
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 1em;
	@media(min-width: 565px) {
		justify-content: center;
	}
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
  transition: all 0.3s ease-in;

	.inner {
		width: 100%;
		padding-top: 100%;
		position: relative;
	}

	.image {
		position: absolute;
		top: 8px;
		left: 8px;
		bottom: 8px;
		right: 8px;
//    width: 120px;
//    height: 120px;
    margin: 0 auto;
    @include transition(all 0.3s);

    img {
      width: 100%;
      height: auto;
    }

  }

	&:hover .image {
    background-color: $blue-dark;
    @include transform(scale(1.05));
  }

}

@media(min-height: 700px) and (min-width: 750px) {


}

/*@media(min-width: 628px) {
.project {
	&.nagotharhant {
		transform: translateY(-15px);
		.image {
			width: 160px;
			height: 160px;
		}
	}
	&.socialaspel {
		transform: translateY(10px);
		.image {
			width: 170px;
			height: 170px;
		}
	}
	&.pablodigtallvar {
		.image {
			width: 160px;
			height: 160px;
		}
	}
	&.varldenfinnshar {
		transform: translateY(20px);
		.image {
			width: 140px;
			height: 140px;
		}
	}
	&.everything {
		transform: translateY(-10px);
		.image {
			width: 160px;
			height: 160px;
		}
	}
	&.filmregionsydost {
		transform: translateY(10px);
		.image {
			width: 150px;
			height: 150px;
		}
	}
	&.newcomersyouth {
		.image {
			width: 160px;
			height: 160px;
		}
	}
	&.fridhadvokatbyra {
		transform: translateY(15px);
		.image {
			width: 160px;
			height: 160px;
		}
	}
	&.luleapride {
		.image {
			width: 170px;
			height: 170px;
		}
	}
}
}*/

/* Animated blob images */
.project {
  .image {
    background-color: $blue;
    padding: 5px;
    @include animation(blob 30s ease-in-out infinite both alternate);
  }
  img {
    @include animation(blob 30s ease-in-out infinite both alternate);
  }
}

@for $i from 0 to 13 {
  .projects .project:nth-child(#{$i}) .image img {
    @include animation-delay(calc(-5s*#{$i}));
  }
  .projects .project:nth-child(#{$i}) .image {
    @include animation-delay(calc(-5s*#{$i}));
  }
}

@-moz-keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@-webkit-keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@keyframes blob {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

// Filter buttons
.filter {
  padding-bottom: 0.5em;
  font-family: $open-sans;
  font-display: auto;
  font-size: 1.2em;
  color: $black;
  text-align: center;
  border-bottom: 1px dashed $gray;
}
.filter button {
  margin: 0 0.5em;
  border: 0;
  background-color: transparent;
  font-family: $din-2014;
  font-display: auto;
  font-size: 0.9em;
  cursor: pointer;
  @include transition(all 0.3s);
	position: relative;
	padding-left: 0.6em;
	padding-right: 0.6em;
  &.active,
  &:hover {
    color: $blue-dark;
  }
	&.active {
		padding-left: 1.2em;
		padding-right: 0;
		&:before {
			content: "\2713";
			font-size: 1.8em;
			position: absolute;
			left: 0;
			bottom: -6px;
		}
	}
}

// Animation when filtering list
.project-list {
	.project {
		overflow: hidden;
		transition: opacity 300ms, transform 300ms;
/*		@media(min-width: 628px) and (max-width: 815px) {
			flex-basis: 33.33%;
			&:nth-child(1),
			&:nth-child(6),
			&:nth-child(11) {
				margin-left: 16.6%;
			}
			&:nth-child(2),
			&:nth-child(7),
			&:nth-child(12) {
				margin-right: 16.6%;
			}
		}
		@media(min-width: 816px) and (max-width: 1003px){
			flex-basis: 25%;
			&:nth-child(1),
			&:nth-child(8) {
				margin-left: 12.5%;
			}
			&:nth-child(3),
			&:nth-child(10) {
				margin-right: 12.5%;
			}

		}

		@media(min-width: 1004px) {
			flex-basis: 20%;
			&:nth-child(1),
			&:nth-child(10) {
				margin-left: 2em;
			}
			&:nth-child(4),
			&:nth-child(13) {
				margin-right: 2em;
			}
		}*/

		flex-basis: 50%;
		@media(min-width: $mobile) {
			flex-basis: 33.33%;
		}
		@media(min-width: $tablet) {
			flex-basis: 25%;
		}
		@media(min-width: $desktop) {
			flex-basis: 20%;
		}

		@media(max-height: 700px) {
			@media(orientation: landscape) {
				flex-basis: 16.66%;
			}
		}

/*		@media(max-height: 700px) {
			@media(min-width: $desktop) {
				flex-basis: 16.66%;
				background-color: pink;
			}
		}*/

	}
	.project.filtering-true {
		opacity: 0;
		transform: scale(0.1);
	}
	.project.filtering-false {
		opacity: 1;
		transform: scale(1);
	}
}


//.project {
	//transform: scale(1);
//	transform: scale(0);
//border: 5px solid green;
//  overflow: hidden;
/*	-webkit-transition: max-height 500ms ease-in, opacity 500ms ease-in, transform 500ms;
	-moz-transition: max-height 500ms ease-in, opacity 500ms ease-in, transform 500ms;
	-o-transition: max-height 500ms ease-in, opacity 500ms ease-in, transform 500ms;
	transition: max-height 500ms ease-in, opacity 500ms ease-in, transform 500ms;
  transition: max-height 500ms ease-in, opacity 500ms ease-in, transform 500ms;
*/
//	transition: opacity 500ms, transform 500ms;
//}
/*.filter-entering {
//.filter-appear,
//.filter-enter {
  opacity: 0;
	transform: scale(0);
}
.filter-entered {
//.filter-appear-active,
//.filter-enter-active {
  opacity: 1;
	transform: scale(1);
}
.filter-exiting {
//.filter-exit {
  opacity: 1;
	transform: scale(1);
}
.filter-exited {
//.filter-exit-active {
  opacity: 0;
	transform: scale(0);
}*/

// Animation  when project gets visible by scrolling

.animate-projects-true .project.invisible {
  opacity: 0;
	transform: scale(0.5);
//  @include transform(translateY(80px));
//  @include transition(all 0.3s);
}
.animate-projects-true .project.visible {
  opacity: 1;
	transform: scale(1);
//  @include transform(translateY(0));
//  @include transition(all 0.3s);
}
.animate-projects-true .project {
	@include transition(all 0.3s);
	&.newcomersyouth,
	&.everything,
	&.nagotharhant {
		@include transition(all 0.8s);
	}
	&.mensvarkstestet,
	&.pablodigtallvar,
	&.lesbiskmakt {
		@include transition(all 0.5s);
	}
}


// Break titles with many words
.project.newcomersyouth .project-title,
.projectPage.newcomersyouth h1,
.project.filmregionsydost .project-title,
.projectPage.filmregionsydost h1,
.project.nagotharhant .project-title,
.projectPage.nagotharhant h1,
.project.pablodigtallvar .project-title,
.projectPage.pablodigtallvar h1 {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $tablet) {
    max-width: 500px;
  }
}
.project.fridhadvokatbyra .project-title,
.projectPage.fridhadvokatbyra h1 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $tablet) {
    max-width: 500px;
  }
}

// ProjectPage
.projectPage {
  overflow: hidden;
	background-color: $white;
  .container {
    overflow: visible;
    max-width: 780px;
    padding: 4rem 1rem 1rem 1rem;
    @media(min-width: $desktop) {
      padding: 6rem 2rem 2rem 2rem;
    }
  }
  .page-header {
    text-align: center;
  }
  .description {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2;
    @media(min-width: $tablet) {
      font-size: 1.8rem;
    }
    font-family: $din-2014;
    font-display: auto;
  }
  .featuredImage {
    left: 50%;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    margin: 2rem -50vw;
    @include transform(rotate(-1deg));
    border-top: 10px solid $blue;
    border-bottom: 10px solid $blue;

    @media(min-width: $tablet) {
      margin: 3rem -50vw 4rem;
    }

    @media(min-width: $desktop) {
      @include transform(none);
      border: 1px solid $gray;
      width: calc(100% + 10rem);
      margin: 3rem -5rem 5rem -5rem;
      left: 0;
      right: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  h2 {
    font-family: $open-sans;
    text-transform: none;
    text-align: left;
    font-size: 1.2rem;
    margin: 3rem 0 -0.8rem;
  }
}

.stats {
  margin-top: 3rem;
  > p {
    margin: 0 0 1em 0;
  }
  > p > span {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    font-family: $din-2014;
    font-display: auto;
  }
  a {
    color: $black;
    border-bottom: 1px solid $black;
    text-decoration: none;
    @include transition(all 0.3s);
    &:hover, &:active, &:focus {
      color: $blue-dark;
      border-bottom: 1px solid $blue-dark;
      text-decoration: none;
    }
  }
}

.navigation {
  border-top: 2px dotted $gray;
  margin-top: 4em;
  @media(min-width: $tablet) {
    margin-top: 6em;
  }
  .project {
    border: 0;
    @include justify-content(center);
  }
}

// Animation description, title and featured image
.project-title,
.description {
  @include transition(transform 1000ms ease-in);
}
.fade-enter .project-title,
.fade-enter .description {
  @include transform(scale(0.8));
}
.fade-enter-active .project-title,
.fade-enter-active .description {
  @include transform(scale(1));
}
.featuredImage img {
	//-webkit-transition: -webkit-transform 1000ms, width 1000ms;operty;
	//-moz-transition: -moz-transform 1000ms, width 1000ms;
	//-o-transition: -o-transform 1000ms, width 1000ms;
  //transition: transform 1000ms, width 1000ms;
  //width: calc(100% + 200px);
  //@include transform(translateX(-100px) scale(1.1));
}
.fade-enter .featuredImage img {
  //transform: translateX(0px) scale(1);
  //@include transform(translateX(0));
}
.fade-enter-active .featuredImage img {
  //@include transform(translateX(-100px));
  //width: calc(100% + 200px);
  //@uinclude transform(translateX(-100px) scale(1.1));
}
