
.matchmaking {
	background-color: $white;
	background-image: url('../images/bg_raster.png');
  background-size: cover;
  text-align: center;
}

.matchmaking {
  h2 {
    margin-bottom: 0.5rem;
  }
  p.intro {
    margin: 0;
  }
}

.game {
  max-width: 580px;
  margin: 2em auto 0;
  font-family: "Roboto Mono",monospace;
  font-display: auto;
  font-size: 1rem;
  @media(min-width: $tablet) {
    font-size: 1.2rem;
  }
}


// Item visibility
.item {
  max-height: 800px;
  overflow: hidden;
  opacity: 1;
	transition: all 0.4s ease;
}
.item.visible-false {
  max-height: 0;
  opacity: 0;
}
.alternative.select-item {
	.text {
		opacity: 1;
		max-height: 200px;
		overflow: hidden;
		transition: all 0.4s ease;
	}
	.text.visible-false {
		opacity: 0;
		max-height: 0;
	}
	// Delay transition on alternatives when resetting
	&.clickable-true .text.visible-true {
		transition-delay: 0.5s;
	}
}
// Don't delay transition on first item when resetting
.game .item:first-child .alternative.select-item.clickable-true .text.visible-true {
	transition-delay: 0s;
}

/*.alternative.boolean-item {
	button {
		opacity: 1;
		transition: all 0.4s ease;
	}
	button.visible-false {
		opacity: 0;
	}
	// Delay transition on alternatives when resetting
	&.clickable-true .text,
	&.clickable-true button.visible-true {
		transition-delay: 0.5s;
	}
}*/

// Alternative alternatives
.alternative.select-item {
  .text {
    display: block;
    margin-bottom: 1em;
    span {
      display: block;
      padding: 1em;
    }
  }
  &.clickable-true .text {
    background-color: $green;
    cursor: pointer;
		color: $black;
		&:hover, &:active, &:focus {
			background-color: #94cb94;
		}
  }
  &.clickable-false .text {
    color: $gray;
  }
}

// Alternative yesno
/*.alternative.boolean-item {
  margin-bottom: 2em;
  .text {
    display: block;
		color: $black;
  }
	&.clickable-false .text {
		color: $gray;
	}
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
  }
  button {
    border: 0;
    padding: 1em 1.5em;
    font-family: "Roboto Mono",monospace;
    font-display: auto;
    font-size: 1rem;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
  }
  &.clickable-true button {
    cursor: pointer;
    background-color: $green;
    &:hover, &:active, &:focus {
      background-color: $green-dark;
    }
  }
  &.clickable-false button {
    background-color: $gray-1;
    color: $gray-2;
  }
}*/

.result {
  padding: 0 2em 3em;
  margin-top: 3em;
  .headline {
    font-size: 1.4em;
    font-weight: 700;
    display: inline-block;
    padding: 0.5em 2em;
    transform: rotate(-5deg);
    margin: -1em 0 1.5em;
  }
	.text {
		text-align: left;
	}
	ul {
		font-size: 1em;
		padding-left: 1em;
	}
  &.match {
    background-color: $green;
    .headline {
      background-color: $green-dark;
    }
  }
  &.no-match {
    background-color: $red;
    .headline {
      background-color: $red-dark;
    }
  }
}

.game button.start {
	border: 0;
	background-color: #c87f8b;
	padding: 1em 1.5em;
	font-size: 1em;
	border-radius: 5px;
	color: $white;
	transition: all 0.3s;
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
	&:hover, &:active, &:focus {
		background-color: #c06d6d;
	}
}

.game .redo {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	text-align: right;
	color: $gray-3;
	text-decoration: underline;
	padding: 1em 0;
	cursor: pointer;
	&:hover, &:active, &:focus {
		color: $redLight;
	}
}
