
.matchmaking {
  text-align: center;
  .wrapper {
    max-width: 580px;
    margin: 2em auto 0;
    font-family: "Roboto Mono",monospace;
    font-display: auto;
    font-size: 1rem;
    @media(min-width: $tablet) {
      font-size: 1.2rem;
    }
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  p.intro {
    margin: 0;
  }
}


// Item visibility
.item {
  max-height: 800px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease 0.5s, max-height 0.5s ease 0.5s;
  //border: 1px solid pink;
}
.item.visible-false {
  max-height: 0;
  opacity: 0;
}


// Type alternatives
.alternative-alternatives {
  .text {
    display: block;
    //margin: 0.5em 0;
    margin-bottom: 1em;
    overflow: hidden;
    opacity: 1;
    max-height: 200px;
    transition: opacity 0.5s ease, max-height 0.5s ease 0s;
    //margin-bottom: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    span {
      display: block;
      padding: 1em;
    }
  }
  &.clickable-true .text {
    background-color: $green;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background-color: $green-dark;
    }
  }
  &.clickable-false .text {
    //background-color: $gray-1;
    color: $gray-2;
  }
  .text.visible-false {
    opacity: 0;
    max-height: 0;
  }
}

.alternative-yesno {
  background-color: transparent;
  transition: background-color 0.5s ease;
  margin-bottom: 2em;
  .text {
    //padding: 1em;
    display: block;
    //margin: 0.5em 0;
    transition: color 0.5s ease;
  }
  &.clickable-false {
    //background-color: $gray-1;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
  }
  button {
    border: 0;
    padding: 1em 1.5em;
    font-family: "Roboto Mono",monospace;
    font-display: auto;
    font-size: 1rem;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  &.clickable-true button {
    cursor: pointer;
    background-color: $green;
    &:hover, &:active, &:focus {
      background-color: $green-dark;
    }
  }
  &.clickable-false button {
    background-color: $gray-1;
    color: $gray-4;
  }
  &.clickable-false button.display-false {
    background-color: transparent;
    color: $gray-1;
  }
  &.clickable-false .text {
    color: $gray-2;
  }
}

.result {
  padding: 0 2em 3em;
  margin-top: 3em;
  .headline {
    font-size: 1.4em;
    font-weight: 700;
    display: inline-block;
    padding: 0.5em 2em;
    transform: rotate(-5deg);
    margin: -1em 0 1.5em;
  }
  &.match {
    background-color: $green;
    .headline {
      background-color: $green-dark;
    }
  }
  &.no-match {
    background-color: $red;
    .headline {
      background-color: $red-dark;
    }
  }
}

.matchmaking .redo {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	text-align: right;
	color: $gray;
	text-decoration: underline;
	padding: 1em 0;
	cursor: pointer;
	&:hover, &:active, &:focus {
		color: $redLight;
	}
}
