.stacks {
  @media(min-width: $tablet) {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
}

.stack {
  margin-top: 3rem;
  text-align: center;
  @media(min-width: $tablet) {
    width: 45%;
  }

}

.list {
  margin-top: 2rem;
  p {
    font-size: 0.9rem;
    @media(min-width: $tablet) {
      font-size: 1rem;
    }
  }
}

.skills {
  position: relative;
  background: linear-gradient(102deg, #7fc8bc, #d3d3a5);
  background-size: 400% 400%;
  @include animation(flow 28s ease infinite);
}

@-webkit-keyframes flow {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}

@-moz-keyframes flow {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}

@keyframes flow {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
