.header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(../images/bg_header.png), url(../images/header_three.jpg);
  background-size: cover;
  height: 100vh;
  padding: 0;
}

.slogan {
  margin: 0 3em 0 3em;
  width: 200px;
  @media(min-height: 300px) {
    width: 300px;
  }
  @media(min-height: 500px) {
    width: 450px;
  }
  .st0 {
    fill: #ffffff;
  }
  svg {
    display: block;
  }
}

.webb {
  @include transform(translateY(-3px));
  .text {
    fill: $white;
    font-family: $rig-solid-bold-inline-solo;
    font-display: auto;
    text-transform: uppercase;
    font-size: 0.44em;
    font-weight: 700;
  }
  .linetwo,
  .lineone {
    stroke: $white;
    stroke-width: 0.5px;
  }
}

.developer {
  .text {
    font-family: $rig-solid-bold-halftone;
    font-display: auto;
    font-size: 0.92em;
    fill: $white;
  }
  .wrapper {
    @include animation(developer 1s ease-in-out forwards);
    opacity: 0;
  }
  @for $i from 1 to 11 {
    .wrapper:nth-child(#{$i}) {
      @include animation-delay(#{random(500)+500}ms);
    }
  }
}

@-moz-keyframes developer {
  0% {
    -moz-transform: translateY(0);
    opacity: 0;
  }
  50% {
    -moz-transform: translateY(-2px);
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes developer {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes developer {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.alvine {
  svg {
    display: block;
  }
  .text {
    text-transform: uppercase;
    display: block;
    font-display: auto;
    font-family: $rig-solid-bold-inline-solo;
    fill: $white;
    font-size: 0.57em;
    opacity: 0;
    @include animation(alvine 1s forwards 0.5s);
  }
}
@-moz-keyframes alvine { 100% {opacity: 1} }
@-webkit-keyframes alvine { 100% {opacity: 1} }
@keyframes alvine { 100% {opacity: 1} }

.medkod {
  .text {
    font-family: $fairwater-script;
    font-display: auto;
    font-size: 0.4em;
    fill: $white;
    @include animation(medkod 1.5s forwards 1.5s);
    opacity: 0;
  }
}
@-moz-keyframes medkod { 100% { opacity: 1;} }
@-webkit-keyframes medkod { 100% {opacity: 1;} }
@keyframes medkod { 100% {opacity: 1;} }

.scrollarrow {
	background-image: url(../images/arrow.svg);
  background-size: contain;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	//display: block;
	margin: 2em auto 0 auto;
	@include animation(MoveUpDown 3s linear infinite);
  position: absolute;
  bottom: 30px;
  //bottom: 50px;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
}
.scrollarrow.header {
  background-image: url(../images/arrow_white.svg);
  opacity: 0.7;
  bottom: 50px;
}
@-moz-keyframes MoveUpDown {
  0%, 100% { -moz-transform: translate(0,0); }
  50% { -moz-transform: translate(0,10px); }
}
@-webkit-keyframes MoveUpDown {
  0%, 100% { -webkit-transform: translate(0,0); }
  50% { -webkit-transform: translate(0,10px); }
}
@keyframes MoveUpDown {
  0%, 100% { transform: translate(0,0); }
  50% { transform: translate(0,10px); }
}

.logo {
	text-decoration: none;
	color: $black;
  font-family: $rig-solid-bold-inline-solo;
  font-display: auto;
	font-size: 2em;
	padding: 0;
  background-color: $black;
  color: $white;
	border-radius: 25px;
	@include flexbox();
	padding: 0.3em 0.45em 0.2em;
	line-height: 1;
	position: fixed;
  top: 1rem;
  left: 1rem;
	z-index: 999;
  @include transition(all 0.3s);
	&:hover, &:active, &:focus {
    background-color: $blue-dark;
	}
}
