
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(../images/bg_header.png), url(../images/header_three.jpg);
  background-size: cover;
  height: 100vh;
  padding: 0;
}


.headerslogan {
  width: 200px;
  margin: 0 3em 0 3em;
  @media(min-height: 300px) {
    width: 300px;
  }
  @media(min-height: 500px) {
    width: 400px;
  }
}

.slogan {
  width: 200px;
  margin: 0 3em 0 3em;
  @media(min-height: 300px) {
    width: 300px;
  }
  @media(min-height: 500px) {
    width: 450px;
  }
  .st0 {
    fill: #ffffff;
  }
  svg {
    display: block;
  }
}

.webb {
  transform: translateY(-3px);
  .text {
    fill: $white;
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    font-display: auto;
    font-display: auto;
    text-transform: uppercase;
    font-size: 0.44em;
    font-weight: 700;
  }
  .linetwo,
  .lineone {
    stroke: $white;
    stroke-width: 0.5px;
  }
}
@keyframes webb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.utvecklare {
  .text {
    font-family: "rig-solid-bold-halftone", sans-serif;
    font-display: auto;
    text-transform: uppercase;
    display: block;
    font-size: 0.92em;
  }
  .text-stroke {
    fill: none;
    stroke: #72baba;
    stroke-width: 2.8px;
    stroke-dashoffset: -100;
    stroke-dasharray: 100;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 2s ease-in-out 0s forwards;
  }
  .text-stroke-2 {
    stroke: $white;
    animation-delay: 0.5s;
  }
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
.alvine {
  svg {
    display: block;

  }
  .text {
    text-transform: uppercase;
    display: block;
    font-display: auto;
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    fill: $white;
    font-size: 0.57em;
  }
}
.medkod {
  .text {
    font-family: fairwater-script, sans-serif;
    font-display: auto;
    font-size: 0.4em;
    fill: $white;
    animation: medkod 2s forwards;
    animation-delay: 2s;
    opacity: 0;
  }
}
@keyframes medkod {
  100% {
    opacity: 1;
  }
}

.scrollarrow {
	background: url(../images/arrow.svg);
	height: 30px;
	width: 30px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 2em auto 0 auto;
	opacity: 0.7;
	animation: MoveUpDown 3s linear infinite;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
}
@keyframes MoveUpDown {
  0%, 100% { transform: translate(0,0); }
  50% { transform: translate(0,10px); }
}

.logo {
	text-decoration: none;
	color: $black;
  font-family: "rig-solid-bold-inline-solo", sans-serif;
  font-display: auto;
	font-size: 2em;
	padding: 0;
	transition: all 300ms;
  background-color: $black;
  color: $white;
	border-radius: 25px;
	display: flex;
	padding: 0.3em 0.45em 0.2em;
	line-height: 1;
	position: fixed;
  top: 1rem;
  left: 1rem;
	z-index: 999;
  transition: all 0.3s;
	&:hover, &:active, &:focus {
    background-color: $blue-dark;
	}
}
.header .logo {
  //margin: 1em 0 0 1em;
}
