h2.jumpingTitle.visible {
  padding-top: 1rem;
  span {
    display: inline-block;
    animation: jump 0.5s;
  }
}
@keyframes jump {
  0% {transform: translateY(0px) scale(1)}
  50% {transform: translateY(-20px) scale(1.1)}
  100% {transform: translateY(0px) scale(1)}
}

// Fix for line break at MatchMaking title
.matchmaking h2.jumpingTitle {
  span:nth-child(10) {
    display: block;
    font-size: 8px;
  }
}
