/* Colors */
$black: #222222;
$white: #ffffff;
$greenLight: #28a745;
$greenDark: #145322;
$redLight: #dc3545;
$redDark: #6e1a22;
$grayInactive: #999999;
$gray: #808080;
$grayBackground: #DCDCDC;
$graySubheading: #383838;
$orangered: #E27D60;
$blue: #7fc8bc;
$yellow: #E8A87C;
$purple: #C38D9E;
//$turquoise: #41B3A3;
$turquoise: #a5d3d3;
$turquioseDark: #83c2c2;
$turquioseHover: #689b9b;

$white: #F2F2F2;
$purpleDark: #61464f;
$purpleInactive: #9c707e;

/* Breakpoints */
$mobile: '480px';
$tablet: '736px';
$desktop: '980px';
$wide: '1280px';



@keyframes sliding-in-from-right {
  0%   {clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh, 0vw 0vh);}
  50%  {clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 10vw 100vh, 0vw 0vh);}
  100% {clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh, 0vw 0vh);}
}
@keyframes sliding-in-from-left {
  0%   {clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh, 0vw 0vh);}
  50%  {clip-path: polygon(0vw 0vh, 100vw 0vh, 90vw 100vh, 0vw 100vh, 0vw 0vh);}
  100% {clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh, 0vw 0vh);}
}

.slide {
	position: relative;
	z-index: 1;
}
.slide-enter, .slide-exit {
	position: absolute;
	top: 0;
	width: 100%;
}
.right .slide-enter {
	z-index: 999;
	transform: translate(100%, 0%);
	position: fixed;
}
.right .slide-enter-active {
	transform: translate(0%,0%);
//	transition: transform 1000ms;
//	transition-timing-function: cubic-bezier(1,0,.23,1);
	transition: transform 500ms;
	transition-timing-function: cubic-bezier(0.4, 0.1, 0.7, 0.95);
	animation-name: sliding-in-from-right;
	animation-duration: 750ms;
}
.right .slide-enter-done {
	position: relative;
	z-index: 999;
}
.right .slide-exit {
//	z-index: 1;
//	transform: translate(0%,0%);
}
.right .slide-exit-active {
//	z-index: 1;
//	transform: translate(-100%,0%);
//	transition: transform 1000ms;
//	transition-timing-function: cubic-bezier(1,0,.23,1);
//	transition: transform 1000ms;
//	transition-timing-function: cubic-bezier(0.4, 0.1, 0.7, 0.95);
}
.left .slide-enter {
	z-index: 999;
	transform: translate(-100%, 0%);
}
.left .slide-enter-active {
	transform: translate(0%,0%);
//	transition: transform 1000ms;
//	transition-timing-function: cubic-bezier(1,0,.23,1);
	transition: transform 500ms;
	transition-timing-function: cubic-bezier(0.4, 0.1, 0.7, 0.95);
	animation-name: sliding-in-from-left;
	animation-duration: 750ms;
	position: fixed;
}
.left .slide-enter-done {
	position: relative;
	z-index: 999;
}
.left .slide-exit {
//	z-index: 1;
//	transform: translate(0%,0%);
}
.left .slide-exit-active {
//	z-index: 1;
//	transform: translate(100%,0%);
//	transition: transform 1000ms;
//	transition-timing-function: cubic-bezier(1,0,.23,1);
//	transition: transform 500ms;
//	transition-timing-function: cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

// Heading
.project-heading span {
	display: inline-block;
}
.project-heading span.word:after {
	content: "\00a0";
}
.right .slide-enter .project-heading span {
	transform: translate(500px,0);
}
.right .slide-enter-active .project-heading span {
	transform: translate(0,0);
}
// Image
.right .slide-enter .parallax .parallaxinner {
	background-position: 100px 0;
}
.right .slide-enter-active .parallax .parallaxinner {
	background-position: 0 0;
	transition: all 800ms ease-in-out 400ms;
}


// Listanimate
.listanimate-enter {
	opacity: 0;
}
.listanimate-enter-active {
	opacity: 1;
	transition: all 500ms;
}
.listanimate-exit {
	opacity: 1;
	max-height: 1000px;
	overflow: hidden;
}
.listanimate-exit-active {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: all 500ms;
}







/* 100& height effect */
html, body {
	height: 100%;
}
body {
	overflow-y:scroll !important;
}
.container.headertwo,
.container.header {
	height: 100vh;
	.inner {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
    max-width: none;
	}
}
.scrollarrow {
	background: url(../dist/arrow.png);
	height: 50px;
	width: 50px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 2em auto 0 auto;
	opacity: 0.7;
	animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
		transform: translate(0,0);
  }
  50% {
		transform: translate(0,20px);
  }
}

/* Base */
body {
	margin: 0;
	padding: 0;
	font-family: "open-sans";
	line-height: 1.4;
	color: $black;
}

/* Typhography */
h1 {
	font-family: 'din-2014-narrow';
	font-family: 'cheap-pine', sans-serif;
	font-family: 'rig-solid-bold-fill', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
	line-height: 1.1;
	margin: 0;
	@media(min-width: $mobile) {
		font-size: 2.5em;
	}
}
h2 {
	font-family: "din-2014-narrow";
	font-family: 'cheap-pine', sans-serif;
	font-family: 'rig-solid-bold-fill', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 1.1;
	margin-top: 0;
	@media(min-width: $tablet) {
		font-size: 4em;
		margin-bottom: 0.5em;
	}
}
h3 {
	font-family: "din-2014-narrow";
	font-family: "cheap-pine", sans-serif;
	font-family: 'rig-solid-bold-inline-solo', sans-serif;
	font-family: "rig-solid-bold-halftone", sans-serif;
	color: $black;
//	rig-solid-bold-inline
//	rig-solid-bold-reverse
//	rig-solid-bold-outline
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.1;
	@media(min-width: $tablet) {
		font-size: 3em;
	}
}
p {
	font-size: 1.4em;
}

/* Containers */
.container.footer,
.container.matchmaking,
.container.skills,
.container.services,
.container.projectsTwo {
	padding: 2.5em 1em 2em 1em;
	@media(min-width: $mobile) {
		padding: 3em 2em 4em 2em;
	}
}
.container .inner {
	max-width: 940px;
	margin: 0 auto;
}
.container.headertwo,
.container.header {
//	background-color: $purple;
  background-color: $white;
	background-image: url('../dist/bg_raster.png');
  background-size: cover;
}
.container.intro {
	background-color: $purple;
	background-image: url('../dist/programmering3.png');
	background-repeat: no-repeat;
	background-position: calc(50% - 550px) 104%;
	background-size: 100px auto;
}
.container.services {
//	background-color: $yellow;
  background-color:$turquoise;
//	background-image: url('../dist/bg_services.png');
}
.container.projectsTwo {
//	background-color: $turquoise;
//	background-image: url('../dist/bg_projects.png');
	background-color: $white;
	background-image: url('../dist/bg_raster.png');
}
.container.projects {
	background-color: $blue;
	background-image: url('../dist/megafon.png');
	background-repeat: no-repeat;
	background-position: calc(50% + 550px) 100%;
	background-size: 100px auto;
}
.container.skills {

//	background-color: $orangered;
  background-color: $turquoise;
	background-image: url('../dist/bg_skills.png');
	color: $black;
}
.container.matchmaking {
	background-color: $white;
	background-image: url('../dist/bg_raster.png');
  background-size: cover;
	padding-top: 3em;
	@media(min-width: $mobile) {
		padding-top: 5em;
	}
	@media(min-width: $tablet) {
		padding-top: 6em;
	}
}
.container.footer {
	background-color: $turquoise;
//	background-image: url('../dist/programmering_white.png');
	background-image: url('../dist/bg_header.png');
//	background-repeat: no-repeat;
//	background-position: calc(50% - 550px) 0%;
//	background-size: 100px auto;
}


/* ProjectPage */
.projectPage {
//	background-color: $orangered;
	background-color: $turquoise;
	background-image: url('../dist/bg_header.png');
	overflow: hidden;
	.container {
		padding: 2em;
	}
	.inner {
		margin-top: 6em;
	}
	// Heading
	h1 {
		margin: 2em 0 0.2em;
		@media(min-width: $tablet) {
			font-size: 4.4em;

		}
	}
	.project-name {
		font-size: 1.6em;
	}
	// Paralax
	.parallax {
	  position: relative;
	  height: 300px;
	  color: white;
		overflow: hidden;
		margin: 2em -50px;
		@media(min-width: $tablet) {
		margin: 6em -150px;
		height: 600px;
		}

		transform: rotate(-1deg);
/*		background-image: url('../dist/project_large.jpg');
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		transform: rotate(-1deg);
		clip-path: polygon(2% 95%, 20% 94%, 40% 97%, 60% 100%, 75% 90%, 95% 95%, 100% 95%, 100% 70%, 95% 55%, 99% 40%, 100% 0%, 70% 5%, 0% 0%, 3% 50%);	*/
		background-color: $turquioseDark;
		padding: 3em 0;
		clip-path: polygon(0% 100%, 20% 98%, 40% 97%, 60% 100%, 75% 98%, 100% 100%, 100% 0%, 75% 2%, 55% 3%, 40% 0%, 20% 1%, 0% 0%);

		.parallaxinner {
			background-image: url('../dist/project_large.jpg');
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
//			transform: rotate(-1deg);
//			clip-path: polygon(2% 95%, 20% 94%, 40% 97%, 60% 100%, 75% 90%, 95% 95%, 100% 95%, 100% 70%, 95% 55%, 99% 40%, 100% 0%, 70% 5%, 0% 0%, 3% 50%);
			clip-path: polygon(0% 98%, 20% 100%, 50% 97%, 75% 99%, 100% 100%, 100% 0%, 85% 1%, 65% 0%, 30% 3%, 10% 1%, 0% 0%);
			width:100%;
			height:100%;
			display: block;

		}
	}
	// Description
	.project-description {
		margin: 4em 0 2em;
	}
	// Info
	.info > p {
		margin: 0 0 1em 0;
	}
	.info > p > span:first-child {
		font-style: italic;
		display: block;
	}

	img {
		width: 100%;
	}
	.arrow {
		display: block;
		height: 40px;
		line-height: 40px;
		padding-left: 110px;
		font-size: 1.4em;
		text-decoration: none;
		color: $black;
		background-image: url('../dist/arrowLeft.png');
		background-repeat: no-repeat;
		background-position: 5% 0%;
		background-size: contain;
		transition: all 0.5s;
		&:hover, &:active, &:focus {
			background-position: 0% 0%;
		}
	}
}
.projectPage .navigation {
	display: flex;
	justify-content: space-between;
	margin: 6em 0 2em;
	&.first {
		justify-content: flex-end;
	}
	&.last {
		justify-content: flex-start;
	}
	a {
		display: block;
		background-color: $black;
		background-color: $turquioseDark;
		color: $black;
		padding: 1em;
		font-size: 1.8em;
		text-decoration: none;
		width: 300px;
		font-family: "rig-solid-bold-fill";

		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		clip-path: polygon(0% 0%, 40% 4%, 98% 0%, 100% 60%, 100% 100%, 65% 98%, 2% 100%, 0% 45%);
		span {
			font-size: 0.6em;
			display: block;
			font-family: "open-sans";
		}
		&.next {
			text-align: right;
		}
		&:hover, &:active, &:focus {
			background-color: $turquioseHover;
			clip-path: polygon(1% 1%, 40% 0%, 100% 2%, 99% 60%, 100% 100%, 65% 100%, 0% 98%, 2% 45%);
		}
	}
}



/* Logo */
.logo {
  padding: 2em;
	position: absolute;
	text-decoration: none;
	color: $black;
	font-family: 'rig-solid-bold-halftone';
	font-size: 2em;
	padding: 0;
	transition: all 300ms;
	background-color: $white;
	border-radius: 25px;
	display: flex;
	padding: 0.2em 0.4em;
	line-height: 1;
	position: fixed;
	z-index: 999;
	.first-letter {
		transition: all 300ms ease-in-out;
		display: inline-block;
		overflow: hidden;
	}
	.letters {
		transition: all 300ms ease-in-out;
		display: inline-block;
		max-width: 0px;
		overflow: hidden;
	}
	&:hover, &:active, &:focus {
		.letters {
			max-width: 200px;
		}
	}
}
.header .logo {
  margin: 1em 0 0 1em;
}

/* Test */
.badge {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  border: 10px solid red;
  overflow: visible;
}
.badge-header {
  fill: $black;
  font-family: "rig-solid-bold-inline-solo", sans-serif;
  font-size: 0.5em;
}
.badge-footer {
  fill: $black;
  font-family: "rig-solid-bold-inline-solo", sans-serif;
  font-size: 0.5em;
}
.badge-name {
  fill: $black;
  font-family: "rig-solid-bold-halftone", sans-serif;
  font-size: 1em;
}



.slogan {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .frilansande {
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    display: block;
    font-size: 4em;
    line-height:1;
  }
  .utvecklare {
    font-family: "rig-solid-bold-halftone", sans-serif;
    display: block;
    font-size: 7em;
    line-height: 1.2;
  }
  .name {
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    display: block;
    font-size: 4em;
    line-height:1;
  }
  .verktyg {
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    display: block;
    font-size: 2em;
  }
}

/*.header .slogan {
	text-align: center;
	span:nth-child(1) {
		font-family: 'cheap-pine-sans';
		font-size: 1.5em;
		line-height: 1;
		display: block;
		margin-right: 3em;
	}
	span:nth-child(2) {
		font-family: 'cheap-pine';
		font-size: 4em;
		line-height: 0.8;
		display: block;
		margin-left: 0.5em;
	}
	span:nth-child(3) {
		font-family: 'cheap-pine-sans';
		font-size: 1.5em;
		line-height: 1;
		display: block;
		margin-left: 4em;
		margin-top: 0.2em;
	}
	span:nth-child(4) {
		font-family: 'cheap-pine';
		font-size: 4em;
		line-height: 0.8;
		display: block;
		margin-right: 0.5em;
	}
}*/

/*
.header .messenger {
	position: relative;
	> span {
		position: absolute;
		top: 0;
		left: 0;
		font-family: monospace;
		white-space: nowrap;
	  text-shadow: 0 2px 2px rgba(#000, 0.9);
		opacity: 0;
	}
	> span:nth-child(1) {
		animation: rotate-text;
		animation-duration: 2000ms;
		animation-delay: 0ms;
	}
	> span:nth-child(2) {
		animation: rotate-text;
		animation-duration: 2000ms;
		animation-delay: 2000ms;
	}
	> span:nth-child(3) {
		animation: rotate-text;
		animation-duration: 2000ms;
		animation-delay: 4000ms;
	}
}*/

/*@keyframes rotate-text {
	0%   { opacity: 0; }
	30% { opacity: 1;}
	70% { opacity: 1;}
  100% { opacity: 0; }
}*/

.header p {
	text-align: center;
	font-size: 2em;
	margin: 0;
}

/* Services */
.container.services .inner {
	max-width: 1100px;
}
.services .wrapper {
	@media(min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.service {
	text-align: center;
	max-width: 500px;
	margin: 0 auto 2em auto;
	@media(min-width: $tablet) {
		flex-basis: 47%;
		//margin-bottom: 3%;
		margin: 4% 0;
	}
}
.service h3 {
	margin: 0 0 0.2em 0;
//	@media(min-width: $tablet) {
//		font-size: 2em; /* todo */
//	}
}
.service p {
	margin-top: 0;
	font-size: 1.2em;
}
.service {
	transition: transform 1000ms;
	transform: translate(0,0);
}
.service.drupal.invisible {
	transform: translate(40px,40px);
}
.service.node.invisible {
	transform: translate(-40px, 40px);
}
.service.opensource.invisible {
	transform: translate(40px,-40px);
}
.service.accessibility.invisible {
	transform: translate(-40px, -40px);
}

/* Projects */
.projectsTwo h2,
.projects h2 {
	visibility: hidden;
	height: 0;
	margin: 0;
}
.projectsTwo .filter,
.projects .filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3em;
	justify-content: center;
}
.projectsTwo .filter > span,
.projects .filter > span {
	background-color: $turquioseDark;
	color: $black;
	font-family: "rig-solid-bold-fill";
	font-size: 1.5em;
	padding: 0.4em 1em;
	margin: 0.1em;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	clip-path: polygon(2% 95%, 20% 94%, 40% 97%, 60% 100%, 75% 90%, 95% 95%, 100% 95%, 100% 70%, 95% 55%, 99% 40%, 100% 0%, 70% 5%, 0% 0%, 3% 50%);
	&:active, &:focus, &:hover,
	&.active {
		background-color: $turquioseHover;
		clip-path: polygon(2% 97%, 20% 96%, 40% 94%, 60% 98%, 75% 92%, 95% 96%, 100% 96%, 98% 70%, 97% 55%, 100% 40%, 98% 0%, 70% 4%, 0% 0%, 2% 50%);
	}
}
.project-list {
	@media(min-width: $tablet) {
		display: flex;
		justify-content: space-between;
		flex-wrap:wrap;
	}
}

/* ProjectTwo */
.projectsTwo.container .inner {
  max-width: 1200px;
}
@media(min-width: $tablet) {
  .projectTwo {
    flex-basis: 28%;
    margin-bottom: 6em;
  }
  .projectTwo:nth-child(5n + 2),
  .projectTwo:nth-child(5n + 1) {
    flex-basis: 46%;
    overflow: hidden;
  }
  .projectTwo:nth-child(5n + 1) a {
    margin: 0 0 0 auto;
  }
  .projectTwo:nth-child(5n + 2) a {
    margin: 0 auto 0 0;
  }
}
.projectTwo {
	a {
		display: block;
		text-decoration: none;
		overflow: hidden;
		text-align: center;
    margin: 0 auto;
    max-width: 336px;
		&:hover, &:active, &:focus {
			h3 {
				font-family: "rig-solid-bold-fill";
			}
		}
		transition: transform 500ms;
		transform: translate(0, 200px);
	}
	a.visible {
		transform: translate(0,0);
	}

	h3 {
		margin: 0 0 0.1em;
		font-size: 1.8em;
		line-height:1;
		width: 100%;
		font-family: "rig-solid-bold-reverse";
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 1em;
	}
}


/*
.project {
	background-color: $white;
	color: $black;
	border-radius: 5px;
	margin: 0 0 1em 0;
	@media(min-width: $tablet) {
		flex-basis: 49%;
		margin-bottom: 2%;
	}
	@media(min-width: $desktop) {
		flex-basis: 32%;
		margin-bottom: 2%;
	}
}
.project {
	.info {
		padding: 0.5em;
	}
	.title {
		display: block;
		margin: 0;
	}
	.tags {
		font-size: 0.8em;
		color: $gray;
		margin-bottom: 0.5em;
	}
	.tag {
		margin-right: 0.5em;
	}
	.date {
		padding-right: 0.4em;
	}
	img {
		width: 100%;
		height: auto;
		border-radius: 5px 5px 0 0;
	}
	.description {
		font-size: 0.9em;
	}
	.designer a {
		color: $black;
	}
	.links a {
		margin: 0.1em;
		color: $gray;
		font-size: 0.8em;
		&:hover, &:active, &:focus {
			color: $redLight;
		}
	}
}*/

/* Skills */
.skills.container {
  padding: 8em 0;
  text-align: center;
}
.skills h2 {

}
.skills .label {
	font-weight: 700;
}
.skills p.visible {
	transform: translate(0,0);
	transition: transform 1000ms;
}
.skills p.invisible {
	transform: translate(-500px,0);
}

/* Matchmaking */
.matchmaking h2 {
	text-align: center;
	margin-bottom: 0;
	font-family: "rig-solid-bold-halftone";
//	max-width: 400px;
	margin: 0 auto;
	@media(min-width: $mobile) {
		font-size: 3em;
	}
	@media(min-width: $tablet) {
		font-size: 7em;
//		max-width: 700px;
	}
}
.matchmaking .intro {
	text-align: center;
	font-size: 1.2em;
	@media(min-width: $mobile) {
		margin-top: 0;
	}
}
.matchmaking .wrapper {
	margin: 1em 0 2em 0;
	@media(min-width: $mobile) {
		margin: 3em 0 4em 0;
	}
}

/* Matchmaking item yesno */
.matchmaking .item.yesno {
	display: block;
	padding: 1em 1em 3em 1em;
	text-align: center;
	border: 2px solid $gray;
	border-radius: 5px;
	position: relative;
	max-width: 300px;
	margin: 0 auto;
	@media(min-width: $mobile) {
		padding: 2em 2em 3em 2em;
	}
	.alternative {
		display: inline-block;
		width: 80px;
		height: 50px;
		background-color: $grayBackground;
		border: 2px solid $gray;
		border-radius: 5px;
		position: absolute;
		line-height: 47px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		font-family: "din-2014-narrow";
		font-size: 1.2em;
		bottom: -27px;
		&.ja {
			left: 2em;
		}
		&.nej {
			right: 2em;
		}
		&.active-true {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
	&.clickable-true .alternative {
		cursor: pointer;
		&:hover, &:active, &:focus {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
	&.clickable-false .alternative {
		color: $grayInactive;
		border-color: $grayInactive;
		&.active-false {
			border-color: $grayInactive;
		}
		&.active-true {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
}

/* Matchmaking arrow */
.matchmaking .arrow {
	display: block;
	width: 100%;
	max-width: 300px;
	height: 3em;
	margin: 1em auto;
	background-image: url('../dist/arrow.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0;
	opacity: 0.7;
	position: relative;
	&.left {
		left: -2em;
		transform: rotate(-40deg);
	}
	&.right {
		left: 2em;
		transform: rotate(40deg);
	}
}

/* Matchmaking item alternatives */
.matchmaking .item.alternatives {
	display: flex;
	justify-content: center;
	.alternative {
		flex-basis: 48%;
		text-align: center;
		border: 2px solid $gray;
		border-radius: 5px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		max-width: 300px;
		margin: 0 0.5em;
		&.active-true {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
	.inner {
		padding: 0.5em 0.5em;
		display: block;
		position: relative;
  	top: 50%;
  	transform: translateY(-50%);
		@media(min-width: $mobile) {
			padding: 1em 1.5em;
		}
		@media(min-width: $tablet) {
			padding: 1.5em 2em;
		}
	}
	&.clickable-true .alternative {
		cursor: pointer;
		&:hover, &:active, &:focus {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
	&.clickable-false .alternative {
		border: 2px solid $grayInactive;
		color: $grayInactive;
		&.active-true {
			background-color: $greenLight;
			border-color: $greenDark;
			color: $white;
		}
	}
}

/* Matchmaking item visibility */
.matchmaking .outer {
	-webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
	transition: all 1s;
	&.visible-true {
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	&.visible-false {
		height: 0;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
	}
}

/* Matchmaking answer */
.matchmaking .item.answer {
	text-align: center;
	.text {
		display: block;
		margin: 3em 0 0 0;
		color: $white;
		@media(min-width: $mobile) {
			margin: 3em 1em 1em 1em;
		}
		@media(min-width: $tablet) {
			margin: 3em 3em 1em 3em;
		}
	}
	.inner {
		max-width: 500px;
		border-radius: 5px;
		padding: 2em;
		position: relative;
		margin-top: 2em;
	}
	.headline {
		position: absolute;
		left: 1em;
		top: -1em;
		display: inline-block;
		color: green;
		border-radius: 5px;
		padding: 1em 2em;
		font-size: 1.4em;
		font-family: 'din-2014-narrow';
		color: $white;
		transform: rotate(-10deg);
	}
	&.answermatch {
		.inner {
			background-color: $greenLight;
			border: 2px solid $greenDark;
		}
		.headline {
			background-color: $greenDark;
		}
	}
	&.answernomatch {
		.inner {
			background-color: $redLight;
			border: 2px solid $redDark;
		}
		.headline {
			background-color: $redDark;
		}
	}
}
.matchmaking .redo {
	display: block;
	max-width: 570px;
	margin: 0 auto;
	text-align: right;
	color: $gray;
	text-decoration: underline;
	padding: 1em 0;
	cursor: pointer;
	&:hover, &:active, &:focus {
		color: $redLight;
	}
}

/* Footer */
.footer {
	.imagewrapper {
		max-width: 940px;
		margin: 0 auto;
		position: relative;
	}
	.image {
		background-image: url('../dist/alvine.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: block;
		width:400px;
		height:300px;
		position: absolute;
		top:-100px;
		right: 0;
	}
	a {
		display: block;
		color: $black;
		text-decoration: none;
		margin: 0.5em 0;
		span {
			border-bottom: 1px solid $black;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		&:hover, &:active, &:focus {
			color: $white;
			span {
				border-bottom: 1px solid $white;
			}
		}
	}
}
