html, body {
	height: 100%;
}

body {
  overflow-y:scroll !important;
	margin: 0;
	padding: 0;
	font-family: "open-sans";
  font-display: auto;
	line-height: 1.4;
	color: $black;
  background-color: $white;
}

h1 {
	font-family: 'rig-solid-bold-fill', sans-serif;
  font-display: auto;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.1;
  margin: 0.3em auto 0.5em auto;
  max-width: 780px;
  text-align: center;
	@media(min-width: $mobile) {
		font-size: 2.5rem;
	}
  @media(min-width: $tablet) {
    font-size: 4.4em;
    margin: 0.2em auto 0.5em auto;
  }
}

h2 {
	font-family: 'rig-solid-bold-fill', sans-serif;
  font-display: auto;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.1;
	margin-top: 0;
  text-align: center;
	@media(min-width: $tablet) {
		font-size: 4rem;
		margin-bottom: 0.5rem;
	}
}
.matchmaking h2 {
	line-height: 0.9;
}

h3 {
	font-family: "rig-solid-bold-fill", sans-serif;
  font-display: auto;
  text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.1;
  margin: 0 0 0 0;
	@media(min-width: $tablet) {
		font-size: 3rem;
	}
}

h4 {
  font-size: 1.4rem;
  font-family: 'din-2014', sans-serif;
  font-display: auto;
  letter-spacing: 1px;
  background-color: $black;
  color: $white;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  margin: 0.5rem 0 0;
  @include transform(rotate(-3deg));
  text-transform: uppercase;

  @media(min-width: $tablet) {
    font-size: 1.6rem;
  }

  @at-root .skills h4 {
    font-size: 1.2rem;
    @media(min-width: $tablet) {
      font-size: 1.4rem;
    }
  }
}

p, ul, ol {
	font-size: 1.2rem;
}

// Grid
section {
  padding: 3rem 1rem;
  @media(min-width: $mobile) {
    padding: 6rem 2rem;
  }
}
section.services {
	padding: 3rem 1rem 0 1rem;
	@media(min-width: $mobile) {
		padding: 6rem 3rem 0 3rem;
	}
}

.container {
  max-width: 940px;
	width: 100%;
  margin: 0 auto;
  overflow: hidden;
  &.wide {
    max-width: 1100px;
  }
  &.narrow {
    max-width: 740px;
  }
}

.fullScreen-true {
	section.footer,
	section.services,
	section {
		height: 100vh;
		padding-top: 0;
		padding-bottom: 0;
		@include flexbox();
		@include flex-direction(row);
		align-items: center;
		position: relative;
		> .container {
			padding-bottom: 4em;
		}
	}
	section.projects {
		> .container {
			width: 940px;
		}
	}
}

/* Router fade animation */
.projectPage,
.front-page {
	position: absolute;
	width: 100%;
}
.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	@include transition(opacity 500ms 500ms);
 	opacity: 1;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
  @include transition(opacity 500ms 0ms);
  opacity: 0;
}
