/* Colors */
$black: #333333;
$white: #fefefe;

$gray: #a3a3a3;
$gray-1: #eeeeee;
$gray-2: #7a7a7a;
$gray-3: #808080;

$blue: #7fc8bc;
$blue-dark: #72baba;

$green: #a5d3a5;
$green-dark: #83c283;
$green-hover: #94cb94;
$red: #d3a5a5;
$redLight: #dc3545;
$red-dark: #c28383;

$pink: #c87f8b;
$pink-hover: #c06d6d;

/* Breakpoints */
$mobile: '480px';
$tablet: '736px';
$desktop: '980px';
$wide: '1280px';

/* Fonts */
$rig-solid-bold-inline-solo: "rig-solid-bold-inline-solo", sans-serif;
$rig-solid-bold-halftone: "rig-solid-bold-halftone", sans-serif;
$rig-solid-bold-reverse: "rig-solid-bold-reverse", sans-serif;
$fairwater-script: "fairwater-script", sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$din-2014: "din-2014", sans-serif;
$open-sans: "open-sans";
